body {
    background-color:wheat
    slategray
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

/* headers */
h1 {
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 90px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;        
}
h6 {
   font-size: 20px; 
   font-style: bold;
}

/* new to do section */
/* container new to do and title */
#title-new-todo {
    background-color: wheat;
    background-image: url(img/bkgd.png);
    width:100%;      
}
#toggleh1 {
    width: 50%;
    float: left;   
    background-image: url(img/bkgd.png);
}
#New-to-do-section {
    width: 50%;
    float: right;   
}

/* current to do section */

#to-do {
    width: 85%;
    border-radius: 5px;
  }

  #due-date { 
    border-radius: 5px;
  }

  #submit { 
    border-radius: 5px;
  }

  #high {
      background-color: coral;
      color: black;
  }

  #medium {
    background-color: rgba(192, 250, 158, 0.911);
    color: black;
}

#low {
    background-color: rgba(247, 191, 217, 0.911);
    color:black;
}

/* Current to do's */

#current-to-do-section, #completed-container {
    border-radius: 10px;
    padding: 5px;
    background-color:whitesmoke;
    width: 98%;   
    float: left;
}

/* Playing with the current to do table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
    table-layout: auto;
}
/* this is amending the widths and layout of table */
th.table-done, th.delete {
  width: 6%
}
th.table-due-date {
  width: 15%; 
}
  
  td, th {
    border-radius: 5px;
    border: darkslategrey;
    text-align: left;
    padding: 5px;
    
  }
 
  #tr2 {
      background-color: coral;
  }

  #tr1 {
    background-color: rgba(192, 250, 158, 0.911);
}

#tr3 {
    background-color:  rgba(192, 250, 158, 0.911);
}

#tr4 {
    background-color: rgba(247, 191, 217, 0.911);
}

#tr5 {
    background-color: rgba(247, 191, 217, 0.911);
}

#tr6 {
    background-color: coral;
}

#tr7 {
    background-color: rgba(247, 191, 217, 0.911);
}

#tr8 {
    background-color: rgba(247, 191, 217, 0.911);
}

/* completed */
th.complete-due-date, th.completed-date  {
    width: 7%;
  }

  th.undo {
      width: 4%;
  }

 .footer {
     align-items: center;
 }

 @media only screen and (min-width: 200px) {
    h1 {
    font-size: 53px;
    }
}

@media only screen and (min-width: 400px) {
    h1 {
        font-size: 70px;
        }
}

    @media only screen and (min-width: 600px) {
        h1 {
            font-size: 90px;
            }
        }
  
  @media only screen and (min-width: 800px) {
    h1 {
        font-size: 90px;
        }
  }