body {
    background-color:wheat
    color:  slategray
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}   

#title-new-todo {
    background-color: wheat;
    background-image: url(img/bkgd.png);
}

h1 {
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 90px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
    
}


h1, h2 {
    
    text-align: center;
}

#to-do {
    width: 85%;
    border-radius: 5px;
  }

  #due-date { 
    border-radius: 5px;
  }

  #submit { 
    border-radius: 5px;
  }

  #high {
      background-color: coral;
      color: black;
  }

  #medium {
    background-color: rgba(192, 250, 158, 0.911);
    color: black;
}

#low {
    background-color: rgba(247, 191, 217, 0.911);
    color:black;
}

/* Current to do's */

#current, #Completed {
    
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    width: 98%;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    
  }
  
  td, th {
    border-radius: 50px;
    border: darkslategrey;
    text-align: left;
    padding: 8px;
  }
  
  #tr2 {
      background-color: coral;
  }

  #tr1 {
    background-color: rgba(192, 250, 158, 0.911);
}

#tr3 {
    background-color:  rgba(192, 250, 158, 0.911);
}

#tr4 {
    background-color: rgba(247, 191, 217, 0.911);
}

/* completed */


 

